/* styles for Roast Beef and Cheddar Sliders */

* {
    box-sizing: border-box;
}

#description-left-aligned {
    display: inline-block;
    text-align: left;
}

.centered-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.centered-list {
    display: inline-block;
    text-align: left;
}

body {
    background-color: darkorchid;
    color: gold;
    font-family:Arial, Helvetica, sans-serif;
}

img {
    border: 2px solid gold;
}

a {
    color: yellow;
}

li::marker {
    color: black;
}